.underline{
    border-bottom: solid;
    border-bottom-width: 1px;
    margin-left: 35%;
    margin-right: 35%;
    .none{
        border:none

    }
    color: green;
    text-shadow: black 1px 1px;
}