.experience{
margin-left: 25%;
margin-right: 25%;
  font-size: 25px;
  color: green;
  text-shadow: black 1px 1px;
}
.title{
    text-decoration: underline;
    font-size: 25px;
    color: green;
    text-shadow: black 1px 1px;
}